h1 {
  font-size: 1.2em;
  color: #999;
  margin-bottom: 0;
}
h2 {
  font-size: 2em;
  margin-top: 0;
  padding-top: 0;
}
.navbar {
  list-style-type: none;
  padding: 10px;
  background-color: darkgrey
}
.navbar li {
  margin: 5px;
  display: inline-block;
  position: relative;
  bottom: 5px;
}
.navbar a {
  padding: 5px 10px;
  text-decoration: none;
  margin-top: 10px;
  display: inline-block;
  background-color: #eee;
  border-radius: 4px;
}
.navbar a:visited, a:link {
  color: #607D8B;
}
.navbar a:hover {
  color: #039be5;
  background-color: #CFD8DC;
}
.navbar a.active {
  color: #039be5;
}