<h3 *ngIf="many">All Products:</h3>
<div>
    <label>Item name:</label><input #itemName type="text" placeholder="item name"/>
    <button (click)="add(itemName.value); itemName.value=''">
        Add
    </button>
</div>
<ul class="items">
    <li *ngFor="let item of items"
        [class.selected]="item === selectedItem" (click)="onSelect(item)">
        <span class="badge">{{item.id}}</span>
        <span>{{item.name}}</span>
        <button class="delete"
            (click)="delete(item); $event.stopPropagation()">x</button>
    </li>
</ul>
<div *ngIf="selectedItem">
    <h2>{{selectedItem.name | uppercase}} is my item</h2>
    <button (click)="goToDetail()">View Details</button>
</div>
